* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
   
    
    line-height: 1.6em
}

h1 {
    font-family: "Dancing Script", cursive;
}

h2 {
    font-family: "Dancing Script", cursive;
}

p {
    
    font-family: "Shadows Into Light", cursive;
    font-size: 18px;
}   

ul li {
    font-family: "Shadows Into Light", cursive;
}
/* nav {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
    font-size: 30px;
    color: #ffffff;
} */

nav ul li a {
    
    color: #ffffff;
    text-decoration: none;
}

section div ul li a {
    text-decoration: none;
    color: black;
}

nav ul li {
    list-style-type: none;
    /* display: inline-block; */
    margin-left: 25px;
}

.nav-image {
    height: 300px;
    width: auto;
    margin-bottom: 25px;
    background-image: url("./assets/alaska.png");
    /* background-size: cover; */
    background-position: center;
}


.content-section {
    display: flex;    
}

div.content-area {
    flex: 5;
    padding: 20px;
    display: flex;
    text-decoration: none;
    margin:20px;  
}

.w3-round {
    border-radius: 50%;
    height: 200px;
    margin-right: 10px;
}

/* section div img {   
    
    width: auto;
    margin: 10px;
    /* border-radius: 49%;     */
 


.aside-title {
    flex: 1;
    /* border-right: 5px black solid; */
    text-align: right;
    padding-right: 20px;    
}



section div ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
}

.container {
    column-count: 3;
}

.hover:hover {
    /* width: 300px; 
    background-color: white; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 110px;  */
    border: black 3px solid;
    /* padding: 0px; */
}
  
div.w3-container {
    text-align: center;
    padding: 0px;
    text-decoration: none;
    color: black;  
    
}
 
a.font-size:hover {
    font-size: 150%;
    text-decoration: none;
    color: black;
   
}
 
@media only screen and (max-width:768px) {
    div.content-area {
        margin:20px;
    }
    .content-section {
        flex-direction: column;
        align-items: center;  
    }
    .aside-title {
        border: none;
        border-bottom: 1px black solid;
        text-align: center;
        padding: 0;
    }
}
  